<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">
    <title>List</title>
  </head>
  <body>
    
    <%- include('nav.html') %>

    <div class="container">
      <h1>채팅방</h1>
    </div>
    <input type="text" id="input1">
    <div id="content"></div>
    <button id="send">서버에 메세지 보내기</button>
    <button id="room1">채팅방 1 입장</button>
    <button id="room1-send">채팅방 1 메세지보내기</button>

    <!-- Ajax -> 새로고침 없이 서버에 요청하는걸 도와주는 JS 문법 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      
      // 유저가 WebSocket 접속
      let socket = io();

      $('#send').click(function(){
        // 유저 -> 서버 메세지 전송 socket.emit()
        socket.emit('user-send', $('#input1').val());
      });

      // 서버 -> 유저로의 메세지 수신
      socket.on('broadcast',function(data){
        $('#content').append('<div>' + data + '</div>');
      });

      // 채팅방 입장
      $('#room1').click(function(){
        socket.emit('joinroom', 'room1 채팅방입장시켜줘');
      });

      // 채팅방 1에 메세지 전송
      $('#room1-send').click(function(){
        socket.emit('room1-send', $('#input1').val())
      });

    </script>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>